@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .texture {
    @apply bg-[rgb(20,20,28)] relative; /* Base dark background */
  }

  .texture::before {
    content: "";
    @apply absolute inset-0 opacity-30; /* Adjust opacity to blend */
    background: url("/public/nois.jpg") no-repeat center center;
    background-size: cover;
    mix-blend-mode: overlay; /* Makes it dissolve smoothly */
    pointer-events: none; /* Ensures it doesn’t interfere with interactions */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

/* Custom Stylish Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #818181;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7a7a7a, #9013fe);
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #1365b7, #7b1fa2);
}

/* Optional for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #003c39 #00000000;
}
